.form {
    display: flex;
    flex-direction: row;
}

input {
    height: 40px;
    width: 250px;
    margin: 5px;
}

.formInput {
    margin-left: 10px;
}

select {
    height: 40px;
    width: 250px;
    margin: 5px;
}

.submit {
    height: 50px;
    width: 150px;
    font: bold;
    font-size: large;
    background-color: gray;
}

.submit:hover {
    background-color: brown;
    cursor: pointer;
}